<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletUsuarios</servlet-name>
        <servlet-class>usuarios.servletUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRegistroVid</servlet-name>
        <servlet-class>videos.servletRegistroVid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busquedaVideoServlet</servlet-name>
        <servlet-class>videos.busquedaVideoServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>servletUsuarios</servlet-name>
        <url-pattern>/servletUsuarios/*</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>servletRegistroVid</servlet-name>
        <url-pattern>/servletRegistroVid/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busquedaVideoServlet</servlet-name>
        <url-pattern>/busquedaVideoServlet/*</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
